<a href="https://colab.research.google.com/github/saiteja12341234/SAITEJA/blob/main/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("i am learning python")

i am learning python

In [2]:
5+6

11

In [3]:
#keywords cannot use name,function name,identifiers and it is a case sensitive
import keyword 
print(keyword.kwlist)
print("the number of keywords:", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
the number of keywords: 35

In [ ]:
#Identifiers are the name given to class,functions,variables etc
#Rules are 
#1.we can use a conbination of lower case,upper case,digits and underscore.
#2.It cannot start with a digit eg:1variable is not valid but variable1 is valid.
#3.keywords cannot be used as identifiers
#4.cannot use special characters
abc123 = 2 #rule1
abc123
print(abc123

In [ ]:
123abc = 2 #rule2 violation

In [ ]:
is = 5 #rule 3 violation

In [ ]:
ab@ = 5 #rule4 violation

In [ ]:
a = 10
type(a)

In [ ]:
b = 1.5
type(b)

In [ ]:
c  = "python"
type(c)

In [ ]:
x = y = 5 #Multiple Assignments with same value
#x
y

In [ ]:
a,b,c = 1,2,3
b

In [ ]:
#a = b = c = 10 #same value
a,b,c = 10,2,3 #Different values
b

In [ ]:
a,b = 1,2 
(a,b) = (b,a) #swap
a

In [ ]:
#Statements
a = 1 #single line atatement
print(a)

In [ ]:
b = 2 + 3 + 4 + \
    5 + 6 + 7
print(b) #multiple statements using \ which continues in line

In [ ]:
c = (2 + 6 +
    4 + 10)
print(c)

# Operators

In [ ]:
#Arithmetic
x , y = 15, 2
print(x + y) #addition
print(x - y) #subtraction
print(x * y) #Multiplication
print(x /  y)   #division
print(x %  y) #Modulo division which gives reminder as result 
print(x // y)  #Floor division nearest value which is lessthan result
print(x ** y)  #exponent or power

In [ ]:
#Comparision operators
x , y = 15, 10
print(x > y)
print(x < y)
print(x == y)
print(x != y)
print(x >= y)
print(x <= y)

In [ ]:
#logical operators
x , y = True,False
print(not y)
print(x and y) # &&
print(x or y)  # ||

In [ ]:
#Bitwise operators
x , y = 2, 10
print(x & y)
print(x | y)
print(x ^ y)
print(~ x)
print(x >> y)
print(x << y)

In [ ]:
x = 6
y = ~x
y

In [ ]:
#Asssignment operators
a = 10
#a += 10 # a = a+10
#print(a) 
#a -= 10
#a *= 10
#a /= 10
#a %= 10
a //= 6
a

In [ ]:
#special operators 
#Identity operators is and isnot
a , b = 5,5
print(a is b)  #it is only true for variables(values) and strings but not list

In [ ]:
a=10
b=15.2
c="python"
d = 5+4j
type(a),type(b),type(c),type(d)

In [ ]:
x = 10
x = 15
#print(id(x)),print(id(y))
x

In [ ]:
y = 10.5
z = int(y)
z

# If statement

In [ ]:
x = int(input("enter the value of x:"))
if x==15:
    print("equal")

# if-else

In [ ]:
num=int(input("enter the vlue"))
if num > 5:
    print("positive number")
else:
    print("Negative number")

# if-elif-else

In [ ]:
num = int(input("Enter the value of x:"))
if num>10:
    print("Positive")
elif num==10:
    print("equal")
else:
    print("Negative")

In [ ]:
#Nested if stmts
num = 9
if num >= 10:
    if num==10:
        print("Equal")
    else:
        print("Positive")
else:
    print("Negative")

In [ ]:
#Largest numbers among 3
a,b,c=10,20,15
if (a>b) and (a>c):
    print("Largest value is a")
elif (b>a) and (b>c):
    print("Largest number is b")
else:
    print("Largest number is c")

In [ ]:
#Largest numbers among 3
a,b,c=10,20,15
if (a>=b) and (a>=c):
    Largest=a
elif (b>=a) and (b>=c):
    Largest=b
else:
    Largest=c
print("Largest number in a,b,c is {}".format(Largest))

In [ ]:
#Nested if
x = 40
if x >= 40:
    print("x is greater than or equal to:",x)
    if x < 100:
        print("x is lessthan 100",x)
print("completed")

# for loop

In [ ]:
#Python comments # or '''content ''' or """content""".
#indantation
#range()
for i in range(4):
    print(i)

In [ ]:
#range(start,end,step size)
for i in range(0,10,2):
    print(i)

In [ ]:
for i in range(0,10,1):
    print(i)

In [ ]:
#nested
for i in range(5):
    print(i)
    if i > 2:
        print("the values greater than 2",i)
    print("completed i",i)
print("completed")

# while loop

In [ ]:
i = 1
while i <= 3:
    print("python")
    i += 1 #i= i+1
print("completed")

In [ ]:
i = 5
while i >= 4:
    print("python")
    i -= 1
print("completed")

# break,continue,pass

In [ ]:
#Break: Terminates from loop
for i in range(5):
    if i == 3:
        break
    print(i)

In [ ]:
#continue: It will skip that current iteration in execution
for i in range(5):
    if i == 3:
        continue
    print(i)

In [ ]:
#Pass
for i in range(5):
    if i ==3:
        pass
    print(i)

# Strings

In [ ]:
#Sequences in python
#String
s  = 'Python'
s1 = "Python"
type(s1)

In [ ]:
#Concatenation
a  ="This is"
b = "Python Class"
a +" "+ b

In [ ]:
#clear the content 
s =  " "
s

In [ ]:
#Remove string from memory
del s

In [ ]:
s

In [ ]:
#Access the content of string
s = "we are learning python"
s[1]

In [ ]:
s[7:]

In [ ]:
s[:7]

In [ ]:
s[7:15]

In [ ]:
s[16:]

In [ ]:
s[16:22]

In [ ]:
a  = "name"
a[3]

In [ ]:
#Back indexing
a[-1]

In [ ]:
len(a),len(s) #Length od string

In [ ]:
s

In [ ]:
max(s)

In [ ]:
min(s)

In [ ]:
a

In [ ]:
min(a)

In [ ]:
max(a)

In [ ]:
a

In [ ]:
a.capitalize()

In [ ]:
b = a.upper()
b

In [ ]:
b.lower()

In [ ]:
a.center(50)

In [ ]:
a = "name122"

In [ ]:
a.isdecimal()

In [ ]:
a.isdigit()

In [ ]:
a.isalpha()

In [ ]:
a.isalnum()

In [ ]:
a.find("1",0,6)

# Lists

In [ ]:
x =[10,20.5,"python"]
x

In [ ]:
type(x)

In [ ]:
x[1]

In [ ]:
x[0:2]

In [ ]:
x[2] = "class"
x

In [ ]:
x[1]= 30

In [ ]:
x

In [ ]:
del x[2]

In [ ]:
x

In [ ]:
z  = [10,10,"python",20]

In [ ]:
del z[2]

In [ ]:
z

In [ ]:
z.remove(10)

In [ ]:
z

In [ ]:
x = [10,10]
y = [10,20]
x == y, x < y, x > y #comparision operators

In [ ]:
10 in x, 15 not in y,20 in x #membership operators

In [ ]:
x+y #concatenation operator

In [ ]:
x*3 #Repitation operator

In [ ]:
list1 = [123, 'xyz', 'zara']
list2 = [456, 'abc']
print ("First list length : ", len(list1))
print ("First list length : ", len(list2))

In [ ]:
list = [1,2,"a"]
min(y)

In [ ]:
#Functions and methods of list
l1 = [1,2,3,4]
print(len(l1))
print(min(l1))
print(max(l1))
print(sum(l1))

In [ ]:
l2 = [5,1.5,"y"]
print(len(l2))
#print(min(l2))
#print(max(l2))
#print(sum(l2))

In [ ]:
x = list()
dir(x) #Methods present

In [ ]:
l1 = [1,2,3,4]
l2 = [5,"hi"]
l2.extend(l1)
l2

In [ ]:
l2.append("python")
l2

In [ ]:
l1.insert(2,"hi")
l1

In [ ]:
l1.remove("hi")
l1

In [ ]:
l1.clear()
l1

In [ ]:
l2.pop()
l2

In [ ]:
l2.pop(0)
l2

In [ ]:
l2.index("hi")

In [ ]:
l2.append("python")
l2

In [ ]:
l2.append("python")
l2

In [ ]:
l2.count("python")

In [ ]:
l3 = l2.copy()
l3

In [ ]:
a1 = [10,20,30]
a1.append(4)

In [ ]:
a1

In [ ]:
a1.append([5,6])
a1

In [ ]:
a1.extend([7,8])
a1

# Tuples

In [ ]:
### Create a empty tuple 
tup1 = ()

In [ ]:
#Accessing Values in Tuples
tup1 = ('Street triple','Detona','Beneli', 8055)
print(tup1[0])

In [ ]:
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print(tup2[1:9])
#tup2.append(tup1)

In [ ]:
#Updating Tuples
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
#tup1.append(tup2)
tup2

In [ ]:
# create a new tuple as follows
tup1 = tup1 + tup2
print(tup1)

In [ ]:
#Delete Tuple Elements
tup = ('Street triple','Detona','Beneli', 8055)
print (tup)
del(tup)
#print ("After deleting tup : ")
#print(tup)

In [ ]:
#To know length of the tuple 
tup = (1,2,3,'Basics','Python')
len(tup)

In [ ]:
#To add two elements
tup2 =(4,5,6) 
tup3 = tup+tup2
tup3

In [ ]:
# Membership
#2 in (1, 2, 3)
#'o' in kk
'u' in 'Fruit'

In [ ]:
# Max and min in tuple
tuple1 = (456, 700, 200)
print(max(tuple1))
max(tuple1)
print(min(tuple1))

In [ ]:
r='Apple'
max(r)
min(r)

In [ ]:
tup=()
dir(tup)

In [ ]:
tup = (1,2,3,"py","hi","py")

In [ ]:
tup.count("py")

In [ ]:
tup.index(2)

In [ ]:
astr = 'abc'
istr = int(astr)
print('First', istr)
#astr = '123'
#istr = int(astr)
#print('Second', istr)

In [ ]:
list =[10,20,30]
for i in list:
    print(i)
#else:
 #   print("all the elements are printed")

In [ ]:
str = "python"
for i in str:
    if i == "y":
        break
    print(i)

In [ ]:
t = (1,2,"hi")
for i in t:
    print(i)

# Dictionaries

In [ ]:
#Accessing Values in Dictionary
dict1 = {'Name': 'Vinod', 'Age': 25, 'bike': 'Apache'}
print(dict1)
print(dict1['Name'])
print(dict1['Age'])   
print(dict1['bike'])

{'Name': 'Vinod', 'Age': 25, 'bike': 'Apache'}
Vinod
25
Apache

In [ ]:
##Updating Dictionary
dict1['bike']='Pulsar'
dict1

{'Name': 'Vinod', 'Age': 25, 'bike': 'Pulsar'}

In [ ]:
dict1['Age'] = 8
dict1

{'Name': 'Vinod', 'Age': 8, 'bike': 'Pulsar'}

In [ ]:
#Delete Dictionary Elements
dict1 = {'Name': 'Vinod', 'Age': 25, 'bike': 'Apache'}
del(dict1['Name']); # remove entry with key 'Name'
dict1

{'Age': 25, 'bike': 'Apache'}

In [ ]:
dict1.clear()    # remove all entries in dict
dict1

{}

In [ ]:
del(dict1)        # delete entire dictionary
dict1

NameError: name 'dict1' is not defined

In [ ]:
d = dict()

In [ ]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']